body{
    background-color: white;
}
#header-nav{
    
    border-radius: 0;
    border: 0;
}
#logo-img{
    background: url("E:/Project-Portfolio/mainlogo.png");
    width:150px;
    height:150px;
    margin: 10px 15px 10px 0;
}
